@media(max-width: 1920px){
  .card{
    padding: 22px 0 14px;
  }
  .service{
    padding-top: 91px;
  }
}

@media(max-width: 1370px){
  .service{
    padding-top: 65px;
  }
  .card__inner{
    padding: 20px;
    min-height: 768px;
    &::before{
      display: none;
    }
  }
  .card__items{
    max-width: 175px;
  }
  .profile__box{
    margin-right: 75px;
  }
  .statistics__inner{
    padding: 20px 40px;
    width: 1117px;
  }
  .statistics__top{
    margin-bottom: 30px;
  }
}