@import 'fonts';
@import 'vars';
@import 'global';


.card{
  padding: 22px 0 14px;
  &__inner{
    min-height: 1044px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 105px 70px 30px 320px;
  }
}

// strat card top
.card__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.money__box{
  display: flex;
  justify-content: space-between;
  color: #f6f6f6;
  font-size: 20px;
  &-cache{
    padding-left: 40px;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      background-image: url('../images/icons/cache.png');
      top: -3px;
      left: 2px;
      width: 25px;
      height: 24px;
    }
  }
  &-bank{
    margin-left: 78px;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      background-image: url('../images/icons/bank.png');
      left: -41px;
      top: -4px;
      width: 27px;
      height: 27px;
    }
  }
}
.profile__box{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  &-name{
    position: relative;
    margin-right: 28px;
    &::before{
      position: absolute;
      content: '';
      background-image: url('../images/icons/player.png');
      left: -54px;
      top: -6px;
      width: 26px;
      height: 32px;
    }
  }
  &-clan{
    margin-right: 30px;
  }
}
// end card top

.tabs-content{
  display: none;
}
.tabs-content.tabs-content--active{
  display: block;
}

.card__tabs{
  display: flex;
  justify-content: space-between;
}
.card__items{
  max-width: 295px;
  width: 100%;
  text-align: center;
  background-color: rgb(35, 37, 52);
  border-radius: 25px;
  padding: 40px 0;
  min-height: 741px;
}
.card__item{
  padding: 25px 0 30px;
  border-radius: 25px;
  display: block;
  margin-bottom: 5px;
  transition: all .5s;
  &-title{
    margin-top: 20px;
    color: $color-text;
  }
  &:hover{
    background-color: rgb(41, 44, 65);
  }
}
.card__item.tab--active{
  background-color: rgb(41, 44, 65);
}
.statistics__inner{
  background-color: rgb(35, 37, 52);
  border-radius: 25px;
  width: 1184px;
  min-height: 741px;
  padding: 46px 80px 88px 76px;
}
.statistics__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.person__info{
  text-align: center;
  max-width: 240px;
  font-size: 18px;
  &-title{
    color: rgba(245, 245, 245, 0.6);
    background-color: rgb(41, 44, 65);
    border-radius: 25px;
    padding: 7px 0 8px;
  }
  &-img{
    background-color: rgb(41, 44, 65);
    border-radius: 25px;
    margin: 5px 0 4px;
    min-height: 313px;
    img{
      position: relative;
      padding-top: 9px;
      width: 262px;
      left: -27px;
      top: 4px;
    }
  }
  &-name{
    background-color: rgb(41, 44, 65);
    border-radius: 25px;
    color: #f5f5f5;
    padding: 7px 0 8px;
  }
}
.statistics__items{
  display: flex;
  justify-content: space-between;
  max-width: 743px;
  width: 100%;
}
.statistics__box{
  width: 357px;
}
.item__info{
  margin-bottom: 12px;
  &-title{
    color: $blue;
    font-size: 19px;
    margin-bottom: 12px;
  }
  &-description{
    font-size: 22px;
    color: rgba(243, 243, 243, 0.82);
    background-color: rgb(41, 44, 65);
    border-radius: 25px;
    padding: 8px 23px;
  }
}
.list__items{
  border-radius: 25px;
  background-color: rgb(42, 44, 57);
  padding: 40px 45px 40px 55px;
  margin-bottom: 7px;
  button{
    background-color: transparent;
    border: none;
    font-size: 17px;
    cursor: pointer;
    color: #b4b3b3;
    & + button{
      margin-left: 5px;
    }
    &:hover{
      color: $blue;
    }
  }
}
.list__item-btn.list__item-btn--active{
  color: $blue;
}
.person-license{
  font-size: 18px;
  display: inline-block;
  color: #f5f5f5;
  border-radius: 25px;
  background-color: rgb(42, 44, 57);
  padding: 7px 65px 9px;
}
@import 'media';