@import 'fonts';
@import 'vars';
@import 'global';


.card{
  padding: 22px 0 14px;
  &__inner{
    min-height: 1044px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 105px 70px 30px 320px;
  }
}

// strat card top
.card__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.money__box{
  display: flex;
  justify-content: space-between;
  color: #f6f6f6;
  font-size: 20px;
  &-cache{
    padding-left: 40px;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      background-image: url('../images/icons/cache.png');
      top: -3px;
      left: 2px;
      width: 25px;
      height: 24px;
    }
  }
  &-bank{
    margin-left: 78px;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      background-image: url('../images/icons/bank.png');
      left: -41px;
      top: -4px;
      width: 27px;
      height: 27px;
    }
  }
}
.profile__box{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  &-name{
    position: relative;
    margin-right: 28px;
    &::before{
      position: absolute;
      content: '';
      background-image: url('../images/icons/player.png');
      left: -54px;
      top: -6px;
      width: 26px;
      height: 32px;
    }
  }
  &-clan{
    margin-right: 30px;
  }
}
// end card top

.card__tabs{
  display: flex;
  justify-content: space-between;
}
.card__items{
  max-width: 295px;
  width: 100%;
  text-align: center;
  background-color: rgb(35, 37, 52);
  border-radius: 25px;
  padding: 40px 0;
  min-height: 741px;
}
.card__item{
  padding: 25px 0 30px;
  border-radius: 25px;
  display: block;
  margin-bottom: 5px;
  transition: all .5s;
  &-title{
    margin-top: 20px;
    color: $color-text;
  }
  &:hover{
    background-color: rgb(41, 44, 65);
  }
}


@import 'media';